[Desktop Entry]
Name=VDK Builder IDE
Comment=VDK Builder IDE
Comment[pl]=Środowisko zintegrowane VDK Builder
Icon=vdkb2
Exec=vdkb2
Terminal=false
Type=Application
Categories=GTK;Development;IDE;
# vi: encoding=utf-8
